<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 3.4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest (the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>蔓藤商城－智能搜索引擎</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"> 
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"><!-- for slider-range -->
  <link href="../../assets/global/plugins/rateit/src/rateit.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="../../assets/global/css/components.css" rel="stylesheet">
  <link href="../../assets/frontend/layout/css/style.css" rel="stylesheet">
  <link href="../../assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css">
  <link href="../../assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
  <link href="../../assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color">
  <link href="../../assets/frontend/layout/css/custom.css" rel="stylesheet">
  <!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">
    <!-- BEGIN STYLE CUSTOMIZER -->
   <input class="hidden" type="text" name="_csrf" id="_csrf" value="<%=_csrf%>" /> 
    <!-- END BEGIN STYLE CUSTOMIZER --> 

    <!-- BEGIN TOP BAR -->
    <%-include ../public/pre-header%>
    <!-- END TOP BAR -->

    <!-- BEGIN HEADER -->
   <%-include ../public/header%>
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">商城</a></li>
            <li><a href="">搜索引擎</a></li>
            <li class="active">搜索关键词</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <%-include ../public/sidebar%>
          <!-- END SIDEBAR -->
          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7">
            <div class="content-search margin-bottom-20">
              <div class="row">
                <div class="col-md-6">
                  <h1>搜索关键词： <em><%=words%></em></h1>
                </div>
                <div class="col-md-6">
                  <form action="/search" method="post">
                    <div class="input-group">
                      <input type="text" class="hidden" name="_csrf" value="<%=_csrf%>" />
                      <input type="text" name="words"  placeholder="蔓藤智能搜" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>搜索</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row list-view-sorting clearfix">
              <div class="col-md-2 col-sm-2 list-view">
                <a href="javascript:;"><i class="fa fa-th-large"></i></a>
                <a href="javascript:;"><i class="fa fa-th-list"></i></a>
              </div>
              <div class="col-md-10 col-sm-10">
                <div class="pull-right">
                  <label class="control-label">显示:</label>
                  <select onchange="javascript:location.href=this.value;" class="form-control input-sm">
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=<%=sort%>&amp;order=<%=order%>&limit=<%=limit%>" selected="selected"><%=limit%></option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=<%=sort%>&amp;order=<%=order%>&limit=9">9</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=<%=sort%>&amp;order=<%=order%>&limit=18">18</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=<%=sort%>&amp;order=<%=order%>&limit=27">27</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=<%=sort%>&amp;order=<%=order%>&limit=36">36</option>
                  </select>
                </div>
                <div class="pull-right">
                  <label class="control-label">排序&nbsp;:</label>
                  <select onchange="javascript:location.href=this.value;" class="form-control input-sm">
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=<%=sort%>&amp;order=<%=order%>&limit=<%=limit%>" selected="selected">排名 (最高)</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=2&amp;order=asc&limit=<%=limit%>">价格 (低 &gt; 高)</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=2&amp;order=desc&limit=<%=limit%>">价格 (高 &gt; 低)</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=1&amp;order=asc&limit=<%=limit%>">排名 (最高)</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=1&amp;order=desc&limit=<%=limit%>">排名 (最低)</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=3&amp;order=asc&limit=<%=limit%>">销量 (低 &gt; 高)</option>
                    <option value="/search?words=<%=words%>&page=<%=page%>&amp;sort=3&amp;order=desc&limit=<%=limit%>">销量 (高 &gt; 低)</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- BEGIN PRODUCT LIST -->
            <div class="row product-list">
              <!-- PRODUCT ITEM START -->
              <%if(results && results!= undefined){%>
              <%results.forEach(function(result,index){%>
              <%var pickgirls = _.filter(result.Pics,function(s){return s.picPrice > 0})%>
              <%pickgirls.forEach(function(pickgirl,index){%>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="http://7xkj70.com1.z0.glb.clouddn.com<%=pickgirl.cloudPath%>?imageView2/1/w/238/h/318/interlace/1" class="img-responsive" alt="Berry Lace Dress">
                      <div>
                        <a href="http://7xkj70.com1.z0.glb.clouddn.com<%=pickgirl.cloudPath%>" class="btn btn-default fancybox-button">看仔细</a>
                      </div>
                    </div>
                    <h3><a href="/item/show/<%=result.id%>?SKU=<%=pickgirl.id%>"><%=(result.name+'-'+pickgirl.picSku).substr(0,20)%>...</a></h3>
                    <div class="pi-price">¥<%=(pickgirl.picPrice).toFixed(2)%></div>
                  </div>
                </div>
              <%})%>
              <%})%>
              <%}%>
              <!-- PRODUCT ITEM END -->
              <!-- PRODUCT ITEM START -->
              <!-- PRODUCT ITEM END -->
            </div>
          
            <!-- END PRODUCT LIST -->
            <!-- BEGIN PAGINATOR -->
            <div class="row">
              <div class="col-md-4 col-sm-4 items-info">结果 <%=(results && results!= undefined &&results.length>0)?(page-1)*limit+1:0%> to <%=(results && results!= undefined &&results.length>0)?(page-1)*limit+results.length:0%> 共 <%=Math.ceil(sum/limit)%> 页</div>
              <div class="col-md-8 col-sm-8">
                <ul class="pagination pull-right">
                 <li><a href="/search?words=<%=words%>&page=1">&laquo;</a></li>

                  <%var s=(page%5)%>
                  <%if(s==1){%>
                      <li><span><%=page%></span></li>
                      <li><a href="/search?words=<%=words%>&page=<%=page+1%>"><%=page+1%></a></li>
                      <li><a href="/search?words=<%=words%>&page=<%=page+2%>"><%=page+2%></a></li>
                      <li><a href="/search?words=<%=words%>&page=<%=page+3%>"><%=page+3%></a></li>
                      <li><a href="/search?words=<%=words%>&page=<%=page+4%>"><%=page+4%></a></li>                 
                  <%}else{if(s){%>
                      <%for (var i=1;i<6;i++){%>
                        <%if(i==s){%>
                           <li><span><%=page%></span></li>
                        <%}%>
                        <%if(i>s){%>
                          <li><a href="/search?words=<%=words%>&page=<%=page+i-s%>"><%=page+i-s%></a></li>

                      <%}%>
                      <%if(i<s){%>
                          <li><a href="/search?words=<%=words%>&page=<%=page+i-s%>"><%=page+i-s%></a></li>
                      <%}%>
                      <%}%>
                  <%}else{%>
                      <li><span><%=page%></span></li>
                      <li><a href="/search?words=<%=words%>&page=<%=page+1%>"><%=page+1%></a></li>
                      <li><a href="/search?words=<%=words%>&page=<%=page+2%>"><%=page+2%></a></li>
                      <li><a href="/search?words=<%=words%>&page=<%=page+3%>"><%=page+3%></a></li>
                      <li><a href="/search?words=<%=words%>&page=<%=page+4%>"><%=page+4%></a></li>
                  <%}}%>
                    
                  <li><a href="/search?words=<%=words%>&page=<%=Math.ceil(sum/limit)%>">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- END PAGINATOR -->
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>

    <!-- BEGIN BRANDS -->
    <!-- END BRANDS -->

    <!-- BEGIN STEPS -->
   <%-include ../public/steps-block%>
    <!-- END STEPS -->

    <!-- BEGIN PRE-FOOTER -->
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
   <%-include ../public/footer%>
    <!-- END FOOTER -->

    <!-- BEGIN fast view of a product -->
    <!-- END fast view of a product -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>  
    <![endif]-->  
    <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="../../assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="../../assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <script src='../../assets/global/plugins/zoom/jquery.zoom.min.js' type="text/javascript"></script><!-- product zoom -->
    <script src="../../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script><!-- Quantity -->
    <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/rateit/src/jquery.rateit.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script><!-- for slider-range -->    <script src="../../assets/global/scripts/cart.js" type="text/javascript"></script>
    <script src="../../assets/global/scripts/newp.js" type="text/javascript"></script>
    <script src="../../assets/global/scripts/fastview.js" type="text/javascript"></script>
        <script src="../../assets/global/scripts/top.js" type="text/javascript"></script>
    <script src="../../assets/global/scripts/intro.js" type="text/javascript"></script>


    <script src="../../assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
    var dselect=[]
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initTwitter();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initUniform();
            Layout.initSliderRange();
            Ecart.init()


            $("#popnew").hover(function(){
               t=setTimeout(function(){

                Newp.init()},200)
            },
            function(){

              clearTimeout(t)
            }
            )       

   

            $("#signin").bind('isajax',function(){
                location.href = "/signin"
             })

            $("#differ").change(function(){
               var differ=$("#differ").find("option:selected");
               var did=differ.data("did")
                        

               if(inarray(did,dselect)==2){
                  $("#cart").attr("disabled",true)
                                    $("#fcart").attr("disabled",true)

               }else{
                $("#cart").attr("disabled",false)
                                $("#fcart").attr("disabled",false)

               }

               $("#differPrice").text((differ.data("price")/100).toFixed(2))
               $("#marketPrice").text((differ.data("market")/100).toFixed(2))
             //  $(".zoomImg").attr("src","http://7xkj70.com1.z0.glb.clouddn.com/@/product/"+differ.data("pic"))
                $(".zoomImg").remove()
               $("#pic").attr("src","http://7xkj70.com1.z0.glb.clouddn.com/@/product/"+differ.data("pic")+"?imageView2/1/w/330/h/330/interlace/1")

               $("#pic").attr("data-BigImgsrc","http://7xkj70.com1.z0.glb.clouddn.com/@/product/"+differ.data("pic"))

               $("#onsale").text(parseFloat(differ.data("price")/differ.data("market")*10).toFixed(1)+'折')
                Layout.initImageZoom();

            })

    $("#fdiffer").change(function(){
               var differ=$("#fdiffer").find("option:selected");
               var did=differ.data("did")
                        

               if(inarray(did,dselect)==2){
                  $("#fcart").attr("disabled",true)
                  $("#cart").attr("disabled",true)
               }else{
                $("#fcart").attr("disabled",false)
                $("#cart").attr("disabled",false)
               }

               $("#fdifferPrice").text((differ.data("price")/100).toFixed(2))
               $("#fmarketPrice").text((differ.data("market")/100).toFixed(2))
             //  $(".zoomImg").attr("src","http://7xkj70.com1.z0.glb.clouddn.com/@/product/"+differ.data("pic"))
                $(".zoomImg").remove()
               $("#fpic").attr("src","http://7xkj70.com1.z0.glb.clouddn.com/@/product/"+differ.data("pic")+"?imageView2/1/w/382/h/509/interlace/1")

               $("#fpic").attr("data-BigImgsrc","http://7xkj70.com1.z0.glb.clouddn.com/@/product/"+differ.data("pic"))

               $("#fonsale").text(parseFloat(differ.data("price")/differ.data("market")*10).toFixed(1)+'折')
                Layout.initImageZoom();

            })
            

            $("#fcart").click(function(){
               var differ=$("#fdiffer").find("option:selected");
              
               
               pid=differ.data("pid")
               bid=differ.data("bid")
               did=differ.data("did")
               
               num=$("#fproduct-quantity").val()


               $.ajax({
                url:'/user/cart/add/'+bid+'/'+pid+'/'+did+'/'+num+'?isajax=1',
                type:'post',
                headers:{
                  'x-csrf-token':$("#csrf").val()
                },
                success:function(data){
                  if(data.success==403){
                    console.log(403)
                    $("#signin").trigger('isajax')
                  }else{
                   // alert('good')
                               
                                  dselect.push(did)


                   $("#fcart").attr("disabled",true)
                   Ecart.init()
                 }
                },
                error:function(data){
                   // alert('error')

                }
               })
            })

            $("#cart").click(function(){
               var differ=$("#differ").find("option:selected");
              
               
               pid=differ.data("pid")
               bid=differ.data("bid")
               did=differ.data("did")
               dselect.push(did)
               console.log(dselect)
               
               num=$("#product-quantity").val()


               $.ajax({
                url:'/user/cart/add/'+bid+'/'+pid+'/'+did+'/'+num+'?isajax=1',
                type:'get',
                success:function(data){
                  if(data.success==403){
                    console.log(403)
                    $("#signin").trigger('isajax')
                  }else{
                   // alert('good')
                   $("#cart").attr("disabled",true)
                               Ecart.init()

                 }
                },
                error:function(data){
                   // alert('error')

                }
               })
            })
            v()
         
        });



        function v(){
           $(function() {  
        $(".del-goods").bind('click',function(){
             var cid=$(this).data("cid")
             var num=$(this).data("num")
             var did=$(this).data("did")
             var holder=$(this)
              $.ajax({
                type:'post',
                url:'/user/cart/delete/'+cid+'/1',
                headers:{
                  'x-csrf-token':$("#csrf").val()
                },
                success:function(result){
                    Ecart.init()

                    var s="#"+cid
                    dselect.pop(did)
                    console.log(dselect)

                $("#fcart").attr("disabled",false)
                $("#cart").attr("disabled",false)
                    $(s).remove()


                }
              })
        
        })


        $(".add2cart").bind('click',function(){
                   var differ =$(this)
                   console.log($(this))

                   pid=differ.data("pid")
                   bid=differ.data("bid")
                   did=differ.data("did")

                  num=1
                  
                
               //   console.log(pid+bid+did)


                   $.ajax({
                        url:'/user/cart/add/'+bid+'/'+pid+'/'+did+'/'+num+'?isajax=1',
                        type:'post',
                        headers:{
                          'x-csrf-token':$("#csrf").val()
                        },
                        success:function(data){
                           // alert('good')
                                     if(data.success==403){
                              console.log(403)
                              $("#signin").trigger('isajax')
                            }else{
                             // alert('good')
                                     differ.attr("disabled",true)
                                                 Ecart.init()

                           }
                        },
                        error:function(data){
                           // alert('error')

                        }
                       })



              }) 
        })
        } 

        function inarray(a,b){
          for (i in b){
            if(b[i]==a){
              return 2
            }
          }
          return 1
        }
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>